<%= div_for comment do %>
  <ol class="comments">
  	<span class="user-photo"><%= image_tag comment.user.twitter_avatar %></span><span class="comment-user"><%= comment.user.full_name + " "+ comment.user.title %></span><span class="timestamp"> <%= time_ago_in_words(comment.created_at) %> ago</span>
    <br/>

    <div class="comment-content"><%= Rinku.auto_link(comment.content, :all, 'target = "_blank"').html_safe %>
  </ol>
<% end %>

