<div class = "post-edit">
  <% if ["Elton_Murillo","cmconsing","menandro_m"].include? current_user.username  %>
<span class="admin-toggle"><%= link_to "Posts", admin_path %> | <%= link_to "Brands", "brands" %> | <strong>Users</strong></span>
<br>
<br>

<table class = "admin-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
		<th>Member</th>
		<th>Full Name</th>
		<th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username ||= "empty" %></td>
        <td><%= user.email ||= "empty" %></td>
		  <td><%= user.is_member ||= "empty" %></td>
		  <td><%= user.full_name ||= "empty" %></td>
		  <td><%= user.title ||= "empty" %></td>
        <td><%= link_to 'Edit', edit_usermanage_path(user), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Destroy', usermanage_path(user), class: "btn btn-default btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% else %>

<h1>You are not authorized to view this page.<h1>
<% end %>
</div>
