<div class = "post-edit">
<%= form_for @post , html: {role: "form" , multipart: true }, :method => :put do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
Add a comment to this line
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Editing post id: <%= params[:id] %></h1>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :brand_name %><br>
    <%= f.text_field :brand_name %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image%>
  </div>
  <div class="field">
    <p>is_public</p>
  	<%= f.label :is_public, "Yes", :value => true %>
    <%= f.radio_button :is_public, true %>
    <%= f.label :is_public, "No", :value => false %>
    <%= f.radio_button :is_public, false %>
  </div>
  <br>
  <div class="field">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
</div>