<!-- wrapper for submit new post -->
<div class = "registration-banner">
<h3> Find a design you want others to see?</h1>
<h4> Post it here! </h4>
</div>

<div class = "post-new-wrapper">
<%= form_for @post , html: {role: "form" , :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title , placeholder: " Design Name ", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :brand_name, placeholder: " Brand Name ", class: "form-control" %>
  </div>
  <div>
    <%= f.label :image , "Upload Photo" %>
    <%= f.file_field :image%>
  </div>
  
  <div class="form-group" id="form-button">
    <%= f.submit 'Submit' , :class => 'btn btn-success' %>
  </div>
  <p class="help-block">Check out our <%= link_to 'Guidelines', guidelines_path, class: "blue-link", :target =>"_blank" %> for posting</p> 



<% end %>
</div>
