<div class="post-container">
	<p id="notice"><%= notice %></p>
  <div class="post-photo"><%= image_tag @post.image.url(:medium) %></div>
  <!-- start of post -->
		<!-- upvote div -->
 
  	<div id="post_<%=@post.id %>_upvote">
  		<%= render partial: "upvotes", locals: {post: @post} %>
  	</div>
 

	<div class="url">
		<span class="post-tagline description"><%= @post.title %></span>
		<span class="post-brandname brand-name">(<%= @post.brand_name %>)</span>
	</div>

	<div class="post-user">
		<span class="post-username user-name">submitted by <strong><%=@post.user.username%></strong></span> <span class="timestamp"><%= time_ago_in_words(@post.created_at) %> ago </span>
	</div>

	<div class="section post-comments">
		<div class="section-title"><%=@post.comments.length%> comments</div>
		
		<%= render :partial => @post.comments %>

      <% if !current_user.nil? && current_user.is_member == true %>
          <%= render 'comments/form' %>
      <% else %>
			<div class="alert alert-warning" role="alert">Commenting is currently limited. Please visit our <%= link_to "guidelines", guidelines_path %> page to get more information on gaining access to this feature.</div>
      <% end %>
	</div>
