<div class="post-container">
	<p id="notice"><%= notice %></p>
  <div class="post-photo"><%= image_tag @post.image.url(:medium) %></div>
  <!-- start of post -->
		<!-- upvote div -->
		<div class="upvote">
  			<a href="#" class="upvote-link"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></a><br>
  			<span class="vote-count"><%= @post.reputation_for(:votes).to_i%></span>
		</div>

	<!-- url this will be the image -->
	<div class="url">
 		<!--<a class="post-url title" href="/l/c079d297e7" tar@get="_blank">Image goes here</a> -->
		<span class="post-tagline description"><%= @post.title %></span>
		<span class="post-brandname brand-name">(<%= link_to @post.brand_name, @post.brand %>)</span>
	</div>

	<div class="post-user">
		<span>submitted by </span><span class="post-username user-name"><%=@post.user.username%></span><span> </span><span class="timestamp"><%= time_ago_in_words(@post.created_at) %> ago </span>
	</div>

	<div class="section post-links">
		<div class="section-title">Related Links</div>
		<div class="link-title">A Closer Look at the Supreme x Nike 2014 Fall/Winter Air Force 1 "Red" (hypebeast.com)</div>
	</div>

	<div class="section post-comments">
		<div class="section-title"><%=@post.comments.length%> comments</div>
		
		<%= render :partial => @post.comments %>
		<%= render 'comments/form' %>
	</div>