<div class="post-container">
	<p id="notice"><%= notice %></p>
  <div class="post-photo"><%= image_tag @post.image.url(:medium) %></div>
  <!-- start of post -->
		<!-- upvote div -->
		<div class="upvote">
     <%= link_to "" , vote_post_path(@post, type: "up"), method: "post" , class: "upvote-link glyphicon glyphicon-chevron-up" , 'aria-hidden' => true%>
      <span class="vote-count"><%= @post.votes.to_i %></span>
  </div>

	<div class="url">
		<span class="post-tagline description"><%= @post.title %></span>
		<span class="post-brandname brand-name">(<%= @post.brand_name %>)</span>
	</div>

	<div class="post-user">
		<span>submitted by </span><span class="post-username user-name"><%=@post.user.username%></span><span> </span><span class="timestamp"><%= time_ago_in_words(@post.created_at) %> ago </span>
	</div>

	<div class="section post-comments">
		<div class="section-title"><%=@post.comments.length%> comments</div>
		
		<%= render :partial => @post.comments %>
      <% if ["Elton_Murillo","cmconsing","menandro_m"].include? current_user.username  %>
			<%= render 'comments/form' %>
		<% else %>
			<div class="alert alert-warning" role="alert">Commenting is limited for now but will open to those receommended by the community.</div>
		<% end %>
	</div>
