<p id="notice"><%= notice %></p>

<!-- profile container -->
<div class="profile-container">
  <div class="profile-avatar"><%= @brand.img %></div>
  <table class="profile-info">
    <tr>
      <td class="profile-name"><%= @brand.name %></td>
    </tr>
    <tr>
      <td><%= @brand.location %></td>
    </tr>
    <tr>
      <td><%= @brand.website %></td>
    </tr>
    <tr>
      <td class="profile-description"><%= @brand.description %></td>
    </tr>
  </table>
</div>
<!-- end of profile container -->

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
