<p id="notice"><%= notice %></p>

<!-- profile container -->
<div class="profile-container">
  <div class="profile-avatar"><%= @brand.img %></div>
  <table class="profile-info">
    <tr>
      <td class="profile-name"><%= @brand.name %></td>
    </tr>
    <tr>
      <td><%= @brand.location %></td>
    </tr>
    <tr>
      <td><%= @brand.website %></td>
    </tr>
    <tr>
      <td class="profile-description"><%= @brand.description %></td>
    </tr>
  </table>
</div>

<ul class="posts-group">
<!-- start of post -->
  <% @posts.each do |post| %>
  
  <%= render partial: "shared/partials/post",  locals: { post: post } %>

  <% end %>
</ul>
<!-- end of profile container -->