<%= form_for [@post, Comment.new] do |f| %>
  


<form role="form"
  <div class="form-group">
    <textarea class="form-control" rows="1" id="comment" placeholder="Join the conversation"></textarea>
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>

<%= bootstrap_form_for(@comment, layout: :horizontal) do |f| %>
  <%= f.text_field :content, control_col: "col-sm-3" %>
  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>


<% end %>

