 <li class="post">

 <div class="box panel panel-default col-xs-3">

  <a href="file:///profiles/9">

    <%= image_tag post.image.url(:medium) %>


    <div class="panel-body">

        <div class="card-tagline">
          <p>
            <strong><%= link_to post.title, post_path(post) %></strong><br>
            (<%= post.brand_name %>)
          </p>
        </div><br><br>
      </div>
   
    </a>

    <div class="upvote">
        <a href="file:///profiles/9"></a>
      <a class="no-vote glyphicon glyphicon-chevron-up" href="file:///posts/new"></a>
        <span class="vote-count">1</span>
    </div>

  <!-- user post -->
    <div class="post-user">
      <span> submitted by </span>
    <span class="post-username user-name"> <%=post.user.username%> </span>
    <br>
    <span class="timestamp"> <%= time_ago_in_words(post.created_at) %> ago </span>
    </div>

    <!-- comment count -->
    <span class="view-discussion">
    <p class="comment-count">
      <a href="file:///posts/ambassador-black-tee"><%=link_to post.comments.length.to_s+" comments", post_path(post) %></a>
    </p>
    </span>
    
</div>
  
</li>
