 <li class="post-card">

<div class="box panel panel-default masonry-brick clearfix">

  <%= content_tag(:a, image_tag(post.image.url(:medium)) , :href => post_path(post)) %>

  <div class="panel-body-card">

    <div class="card-tagline">
      <p>
      <span><strong><%= link_to post.title, post_path(post) %></strong>
      (<%= post.brand_name %>)</span>
      </p>
    </div>

    <div class="vote-card">
      <div id="post_<%=post.id %>_upvote">
        <%= render partial: "posts/upvotes", locals: {post: post} %>
      </div>
    </div>

    <div class="post-user-card">
      <% if post.user.full_name?  %>
      <span class="post-username user-name"> submitted by <strong><%=post.user.full_name%></strong> </span>
      <% else %>
      <span class="post-username user-name"> submitted by <strong><%=post.user.username%></strong> </span>
      <% end %>
    <!-- user post -->
    <div>
      <span class="timestamp-card"> <%= time_ago_in_words(post.created_at) %> ago </span>
    </div>

      <!-- comment count -->
    <div>
      <span class="comment-count-card">
        <%=link_to post.comments.length.to_s+" comments", post_path(post) %>
      </span>
    </div>
    </div>
  <div>
</div>
  
</li>
