 <li class="post">
  
  <!-- upvote div -->
  <div id="post_<%=post.id %>_upvote">
    <%= render partial: "posts/upvotes", locals: {post: post} %>
  </div>

  <div class="post-content">
    <div class="url">
      <!--<a class="post-url title" href="/l/c079d297e7" target="_blank">Image goes here</a> -->
      <span class="post-title description"><%= link_to post.title, post_path(post) %></span>
      <span class="post-brandname brand-name">(<%= post.brand_name %>)</span>
    </div>

    <!-- user post -->
    <div class="post-user">
      <span>submitted by </span><span class="post-username user-name"><%=post.user.username%></span><span> </span><span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago </span>
    </div>

    <!-- comment count -->
    <span class="view-discussion"><p class="comment-count"><%=link_to post.comments.length.to_s+" comments", post_path(post) %></p>
    </span>
  </div>
</li> <!-- end of post -->
