<li class="post">
  
  <!-- upvote div -->
  <div class="upvote">

     <%= link_to "" , vote_post_path(post, type: "up"), method: "post" , class: "upvote-link glyphicon glyphicon-chevron-up voted" , 'aria-hidden' => true%><br>
      <span class="vote-count"><%= post.votes.to_i %></span>
  </div>

  <!-- url this will be the image -->
  <div class="url">
    <!--<a class="post-url title" href="/l/c079d297e7" target="_blank">Image goes here</a> -->
    <span class="post-tagline description"><%= link_to post.title, post_path(post) %></span>
    <span class="post-brandname brand-name"><%=post.brand_name%></span>
  </div>

  <!-- user post -->
  <div class="post-user">
    <span>submitted by </span><span class="post-username user-name"><%=post.user_name%></span><span> </span><span class="timestamp"><%= time_ago_in_words(post.created_at) %> ago </span>
  </div>

  <!-- comment count -->
  <a href="/posts/naminum" class="view-discussion">
    <p class="comment-count"><%=post.comment_count%> comments</p>
  </a>

  </br>
</li> <!-- end of post -->
