<!-- navbar -->
<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-header"><%= link_to image_tag("logo-white.png"), root_path, class: "navbar-brand" %></div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav btn-group">
        <li class="<%= 'active' if current_page?(root_path)%>"><%= link_to "Trending", root_path %></li>
        <li class="<%= 'active' if current_page?(recent_path)%>"><%= link_to "New", recent_path %></li>
      </ul>
      <!-- submit button / profile dropdown -->
      <ul class="nav navbar-nav navbar-right">
            <li class="<%= 'active' if current_page?(new_post_path)%>" id="add-button"><%= link_to image_tag("add-button.svg"), new_post_path , :data => {":aria-hidden" => "true"} %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= image_tag(current_user.twitter_avatar)%><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <% if !current_user.nil? && (current_user.username == ("Elton_Murillo") || ("cmconsing") || ("menandro_m")) %>
                <li><%= link_to 'Admin' , admin_path%></li>
              <% end %>
              <!--<li><%= link_to 'Notifications' %></li> -->
              <li><%= link_to 'Settings' , edit_user_registration_path%></li>
              <li><%= link_to 'Logout' , destroy_user_session_path, method: :delete%></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to 'Sign in' , user_omniauth_authorize_path(:twitter)%></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>