<!DOCTYPE html>
<html>
<head>
  <title>Coppis: Discover Brands, Discover Fashion.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <!-- should get locally --><link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/partials/header" %>
<%# render "layouts/partials/deviseNotice" %>
<%= yield %>

</body>
</html>
  